.constructions-containers {
    padding: 70px 20px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .construction-header {
        margin-bottom: 30px;

        >p {
            text-align: center;
        }

        h2 {
            font-size: 2.5rem;
            color: #333;
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 100%;
        max-width: 1200px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        .card {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: translateY(-10px);
            }

            .card-figure {
                text-align: center;
                margin-bottom: 15px;

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                    object-fit: cover;
                }
            }

            .card-content {
                text-align: center;
                border-style: solid;
                border-width: 0px 0px 5px 0px;
                border-color: #FF3F00;
                border-radius: 15px 15px 15px 15px;
                text-align: center;

                h3 {
                    font-size: 1.8rem;
                    color: #007bff;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 1rem;
                    color: #555;
                    line-height: 1.6;
                    margin-bottom: 15px;
                }
            }
        }
    }
}